<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Energistics.IntegrationTest.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StreamExtended" publicKeyToken="bbfa0f1d54f50043" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.164.0" newVersion="1.0.164.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Energistics.IntegrationTest.Settings>
      <setting name="AuthTokenUrl" serializeAs="String">
        <value>http://localhost/witsml.web/auth</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerCapabilitiesUrl" serializeAs="String">
        <value>http://localhost/witsml.web/.well-known/etp-server-capabilities</value>
      </setting>
      <setting name="ServerUrl" serializeAs="String">
        <value>ws://localhost/witsml.web/api/etp</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>witsml.user</value>
      </setting>
      <setting name="EtpVersion" serializeAs="String">
        <value>1.1</value>
      </setting>
      <setting name="EtpSubProtocol" serializeAs="String">
        <value>energistics-tp</value>
      </setting>
      <setting name="ProxyUsername" serializeAs="String">
        <value>test.user</value>
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value>test123</value>
      </setting>
    </Energistics.IntegrationTest.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
