<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Energistics.Etp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Energistics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <Energistics.Etp.Properties.Settings>
      <setting name="EtpSubProtocolName" serializeAs="String">
        <value>energistics-tp</value>
      </setting>
      <setting name="EtpEncodingHeader" serializeAs="String">
        <value>etp-encoding</value>
      </setting>
      <setting name="EtpEncodingBinary" serializeAs="String">
        <value>binary</value>
      </setting>
      <setting name="EtpEncodingJson" serializeAs="String">
        <value>JSON</value>
      </setting>
      <setting name="GetVersionHeader" serializeAs="String">
        <value>GetVersion</value>
      </setting>
      <setting name="GetVersionsHeader" serializeAs="String">
        <value>GetVersions</value>
      </setting>
      <setting name="DefaultMaxDataItems" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="DefaultMaxResponseCount" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="DefaultWebSocketType" serializeAs="Energistics.Etp.Common.Datatypes.WebSocketType">
        <value>Native</value>
      </setting>
    </Energistics.Etp.Properties.Settings>
    <Energistics.Properties.Settings>
      <setting name="EtpSubProtocolName" serializeAs="String">
        <value>energistics-tp</value>
      </setting>
      <setting name="EtpEncodingHeader" serializeAs="String">
        <value>etp-encoding</value>
      </setting>
      <setting name="EtpEncodingBinary" serializeAs="String">
        <value>binary</value>
      </setting>
      <setting name="EtpEncodingJson" serializeAs="String">
        <value>JSON</value>
      </setting>
    </Energistics.Properties.Settings>
  </applicationSettings>
</configuration>
