<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Energistics.Etp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Energistics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" culture="neutral" publicKeyToken="669e0ddf0bb1aa2a" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Energistics.Etp.Properties.Settings>
      <setting name="DefaultMaxResponseCount" serializeAs="String">
        <value>100000</value>
      </setting>
      <setting name="DefaultWebSocketType" serializeAs="String">
        <value>Native</value>
      </setting>
      <setting name="DefaultMaxDataObjectSize" serializeAs="String">
        <value>10485760</value>
      </setting>
      <setting name="DefaultMaxPartSize" serializeAs="String">
        <value>1048576</value>
      </setting>
      <setting name="DefaultSupportsAlternateRequestUris" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultMaxWebSocketFramePayloadSize" serializeAs="String">
        <value>4194304</value>
      </setting>
      <setting name="DefaultMaxWebSocketMessagePayloadSize" serializeAs="String">
        <value>105906176</value>
      </setting>
      <setting name="DefaultMaxIndexCount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DefaultChangePropagationPeriod" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DefaultMaxDataArraySize" serializeAs="String">
        <value>10485760</value>
      </setting>
      <setting name="DefaultFrameChangeDetectionPeriod" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="DefaultEncoding" serializeAs="String">
        <value>Binary</value>
      </setting>
      <setting name="DefaultResponseTimeoutPeriod" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="DefaultSupportsMessageHeaderExtension" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultActiveTimeoutPeriod" serializeAs="String">
        <value>3600</value>
      </setting>
      <setting name="DefaultChangeRetentionPeriod" serializeAs="String">
        <value>86400</value>
      </setting>
      <setting name="DefaultMaxConcurrentMultipart" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DefaultMaxContainedDataObjectCount" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="DefaultMaxFrameResponseRowCount" serializeAs="String">
        <value>1000000</value>
      </setting>
      <setting name="DefaultMaxRangeChannelCount" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="DefaultMaxRangeDataItemCount" serializeAs="String">
        <value>1000000000</value>
      </setting>
      <setting name="DefaultMaxSessionGlobalCount" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="DefaultMaxSessionClientCount" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="DefaultMaxStreamingChannelsSessionCount" serializeAs="String">
        <value>1000000</value>
      </setting>
      <setting name="DefaultMaxSubscriptionSessionCount" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="DefaultMaxTransactionCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DefaultMultipartMessageTimeoutPeriod" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DefaultOrphanedChildrenPrunedOnDelete" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultSupportsGet" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultSupportsPut" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultSupportsDelete" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultTransactionTimeoutPeriod" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="DefaultSimpleStreamer" serializeAs="String">
        <value>False</value>
      </setting>
    </Energistics.Etp.Properties.Settings>
    <Energistics.Properties.Settings>
      <setting name="EtpSubProtocolName" serializeAs="String">
        <value>energistics-tp</value>
      </setting>
      <setting name="EtpEncodingHeader" serializeAs="String">
        <value>etp-encoding</value>
      </setting>
      <setting name="EtpEncodingBinary" serializeAs="String">
        <value>binary</value>
      </setting>
      <setting name="EtpEncodingJson" serializeAs="String">
        <value>JSON</value>
      </setting>
    </Energistics.Properties.Settings>
  </applicationSettings>
</configuration>
